body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

nav a, nav button {
    margin: 0 10px;
    text-decoration: none;
    color: #888;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s;
}

nav a:hover, nav button:hover {
    color: #555;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #888;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    text-align: left;
}

.book h3 {
    margin-top: 0;
}

.book p {
    margin: 10px 0;
}

.book form input[type="submit"] {
    padding: 10px 20px;
    background-color: #888;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book form input[type="submit"]:hover {
    background-color: #555;
}

nav a, nav button, .link-button {
    margin: 0 10px;
    text-decoration: none;
    color: #888;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s;
}

nav a:hover, nav button:hover, .link-button:hover {
    color: #555;
}
